@charset "UTF-8";

:root {

}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: bisque;
}

nav {
    background-color: aliceblue;
}

header {
    background-image: url(../imagens/wallpaper004.jpg);
    text-align: center;
    padding: 10px;
}

main {
    max-width: 800px;
    background-color: aqua;
    margin: auto;
}